*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.position_top_right{
    float: right;
}
.peace-3{
    text-align: right;
    width: 400px;
}
.number-03{
    text-align: right;
    font-size: 15px;
    font-family: 'Raleway';
    letter-spacing: 0;
    color: #939393;
    opacity: 1;
    padding-bottom: 2%;
}
.BUILT{
    text-align: right;
    font-size: 15px;
    font-family: 'Raleway';
    letter-spacing: 0.38px;
    color: #505050;
    opacity: 1;
    line-height: 20px;
    padding-bottom: .5%;
}
.Economies{
    text-align: right;
    font-size: 13px;
    letter-spacing: 0;
    font-family: "Raleway";
    color: #747474;
    opacity: 1;
    padding-bottom: .5%;
}
.explore-built{
    font-size: 18px;
    font-family: "Raleway";
    letter-spacing: 0;
    color: #257B84;
    opacity: 1;
    vertical-align: middle;
    padding-bottom: .5%;
    font-weight: 600;
   }
.ero-icon-built{
    vertical-align: middle;
    
}
