*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
}
.sub{
    width: 100%;
    height: 100vh;
    position: relative;
}
.contact_container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.left_part{
    width: 50%;
    float: left;
    clear: left;
}
.right_part{
    width: 50%;
    float: right;
    clear: right;
}
.right_containt{
  border-left: 5px solid #EAF2F4;
  padding-right: 10%;
}
.text{
    padding-top: 3%;
}
.banner{
    text-align: center;
    padding: 3% 0;
    background-color: #32BDD2;
}
.innovation{
    font-family: 'Raleway';
    letter-spacing: 1px;
    color: #FFFFFF;
    font-size: 20px;
    padding: 0% .5%;
}
.comma{
    vertical-align: middle;
    width: 50px;
}
.left_container{
margin-top: 15%;
text-align: center;
}
.carmel img{
    width: 745px;
}
.info{
    margin-left: 2%;
    border-left: 5px solid #EAF2F4;
}
.results{
    padding-top: 3%;
    font-family: 'Italianno';
    font-size: 50px;
    letter-spacing: 3px;
    color: #747474;
}
.technology{
    width: 80%;
    margin-left: 5%;
    text-align: center;
    font-size: 20px;
    font-family:'Raleway';
    color: #505050;
    font-weight: bold;
}
.input{
    margin-left: 8%;
    margin-top: 3%;
}
.capicha{
    text-align: center;
}
.placeholder input{
    border: 0px solid #EAF2F4;
    padding: 2.5%;
    width: 70%;
    font-size: 13px;
    text-align: left;
    font-family:'Raleway';
    letter-spacing: 0.5px;
    color: #909090;
}
.placeholder{
    margin: 4% 0 0 0;
    width: 80%;
    border: 2px solid #EAF2F4;
}
.placeholder img{
    width: 47px;
    float: right;
    clear: right;
    padding: 0%;
    display: none;
}
.erroe_msg{
    text-align: left;
    font-size: 15px;
    font-family:'Raleway';
    letter-spacing: 0.5px;
    color: #242424;
    color: #772309;
    margin-left: 2%;
    display: none;
}
.robot{
    text-align: left;
    font-family:'Raleway';
    font-size: 23px;
    letter-spacing: 0;
    color: #909090;
  margin-top: 2.5%;
}
.recapita_container{
    width: 35%;
    margin-left: 27%;
    margin-top: 2%;
}

 .website{
    font-family:'Raleway';
    font-size: 17px;
    letter-spacing: 0px;
    color: #909090;
}
.address{
width: 100%;
}
.left{
    width: 40%;
    float: left;
    clear: left;
}
.right{
    width: 58%;
    float: right;
    clear: right;
    margin-right: 2%;
}
.carmel_full_logo img{
    width: 350px;
   margin-left: 8%;
}
.banglore_address{
float: left;
width: 28%;
margin-left: 37%;
margin-right: 0%;
}

.hubli_address{
    float: right;
    width: 30%;
    margin-left: 5%;
    }
.hubli{
    text-align:right;
    font-family:'Raleway';
    font-size: 22px;
    letter-spacing: 1.2px;
    color: #080808;
    font-style: italic;
    font-weight: 600;
}
.banglore{
    text-align: left;
    font-family:'Raleway';
    font-size: 22px;
    letter-spacing: 1.2px;
    color: #080808;
    font-style: italic;
    font-weight: 600;
}

.submit{
    margin-top: 2%;
    padding: 1% 1%;
    width: 30%;
    text-align: center;
    font-family:'Raleway';
    font-size: 18px;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    background-color: #505050;
    color: #fff;
    border: 1px solid #505050;
    border-radius: 25px;
    box-shadow: 2px 2px 6px #505050;
}
.copy_right{
    margin: 6%  0% 2% 0;
    width: 100%;
    float: right;
    text-align: right;
}




@media screen and (max-device-width:768px){
    .innovation{
        font-size: 15px;
    }
    .comma{
        vertical-align: middle;
        width: 25px;
    }
    .carmel img{
        width: 350px;
    }
    .results{
        font-size: 25px;
    }
    .technology{
        font-size: 8px;
    }
    .placeholder input{
        font-size: 7px;
    }
     .website{
        font-size: 6.5px;
    }
    .carmel_full_logo img{
        width: 180px;
       margin-left: 8%;
    }
    .hubli{
        font-size: 8px;
    }
    .banglore{
        font-size: 8px;
    }
    
    .submit{
        width: 30%;
        font-size: 14px;
    }
    .placeholder img{
        width: 47px;
        float: right;
        clear: right;
        padding: 0%;
    }
    .erroe_msg{
        font-size: 7px;
    }
}
@media screen and (max-device-width:1024px){
    .innovation{
        font-size: 15px;
    }
    .comma{
        vertical-align: middle;
        width: 25px;
    }
    .carmel img{
        width: 450px;
    }
    .results{
        font-size: 33px;
    }
    .technology{
        font-size: 11px;
    }
    .placeholder input{
        font-size: 8px;
    }
     .website{
        font-size: 9px;
    }
    .carmel_full_logo img{
        width: 280px;
       margin-left: 8%;
    }
    .hubli{
        font-size: 12px;
    }
    .banglore{
        font-size: 12px;
    }

    .submit{
        width: 35%;
        font-size: 12px;
    }
    .placeholder img{
        width: 27px;
        float: right;
        clear: right;
        padding: 0%;
    }
    .erroe_msg{
        font-size: 10px;
    }
}
@media screen and (max-device-width:1440px) and (min-device-width:1025px){

    .innovation{
        font-size: 20px;
    }
    .comma{
        vertical-align: middle;
        width: 35px;
    }
    .carmel img{
        width: 645px;
    }
    .results{
        font-size: 40px;
    }
    .technology{
        font-size: 16px;
    }
    .placeholder input{
        font-size: 13px;
    }
     .website{
        font-size: 15px;
    }
    .carmel_full_logo img{
        width: 300px;
       margin-left: 8%;
    }
    .hubli{
        font-size: 16px;
    }
    .banglore{
        font-size: 16px;
    }
    
    .submit{
        width: 35%;
        font-size: 14px;
    }
    .website{
        font-size: 12px;
    }
    .placeholder img{
        width: 38px;
        float: right;
        clear: right;
        padding: 0%;
    }
    .erroe_msg{
        font-size: 3px;
    }
}

@media screen and (min-width: 1921px) {
    .innovation{
        font-size: 22px;
    }
    .comma{
        vertical-align: middle;
        width: 50px;
    }
    .carmel img{
        width: 745px;
    }
    .results{
        font-size: 50px;
    }
    .technology{
        font-size: 20px;
    }
    .placeholder input{
        font-size: 15px;
    }
    .robot{
        font-size: 23px;
    }
    .recapita img{
        width: 50px;
    }
    .privacy{
        font-size: 10px;
    }
    .reCAPITA{
        font-size: 23px;

    }
     .website{
        font-size: 21px;
            float: left;
            clear: left;
    }
    .carmel_full_logo img{
        width: 350px;
       margin-left: 8%;
    }
    .hubli{
        font-size: 29px;
    }
    .banglore{
        font-size: 29px;
    }
    
    .submit{
        width: 30%;
        font-size: 22px;
    }
    .placeholder img{
        width: 47px;
        float: right;
        clear: right;
        padding: 0%;
    }
    .erroe_msg{
        font-size: 18px;
    }
 
}