*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.parent{
    width: 30%;
    background-color: #FCFCFC;
    padding: 2.14%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.container{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px #60606029;
    padding: 0 11.40%;
    border: 1px solid #F7F7F7;
}
.self{
    text-align: left;
    font-size: 1.17vw;
    color:#595959;
    font-family: 'Roboto';
    border-bottom: 1px solid #595959;
    padding: 9.88% 0% 6.84% 0%;
}
.led{

    text-align: left;
    font-size: 1.17vw;
    color:#595959;
    font-family: 'Roboto';
    border-bottom: 1px solid #595959;
    padding: 05% 0;
    padding: 9.88% 0% 6.84% 0%;
}
.blindroom{
    padding: 01%;
    text-align: left;
    font-size: 1.17vw;
    color:#595959;
    font-family: 'Roboto';
    padding: 05% 0;
    padding: 9.88% 0% 6.84% 0%;
}