*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.header{
    width: 100%;
    display: flex;
    box-shadow: 0px 3px 6px #BCBCBC40;
    padding-left: 2.92%;
    padding-right: 3.51%;
    align-items: center;
}
.header_left_part{
    width: 85%;

}

.list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.dashboard_top{
    padding: 0 6.34% 0 0;
}


.dashboard{
    font-size: 1.35vw;
    font-family: 'Roboto';
    letter-spacing: 0.7px;
    color: #909090;
}

.corses{
    font-size: 1.35vw;
    font-family: 'Roboto';
    letter-spacing: 0.7px;
    color: #595959;
    border-bottom: .3vw solid #32BDD2;
}

.header_right_part{
    width: 15%;
    padding: 02% 0;
}

.profile_part{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile_pic{
    width: 32.15px;
    height: 32.15px;
    vertical-align: middle;
}

.name{
    text-align: left;
    font-size: 1.17vw;
    font-family: 'Roboto';
    letter-spacing: 0.9px;
    color: #5A5A5A;
}
.dropdown{
    width: 9.89px;
    height: 6.35px;
    vertical-align: middle;
}

.course{
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.75vw;
    letter-spacing: 0.9px;
    color: #000000;
    border-bottom: .2vw solid #32BDD2;
    padding-bottom: 1%;
}

.search{
    border: 0;
    width: 97%;
    padding: 1%;

}

.icon{
    width: 11px;
    height: 11px;
    vertical-align: middle;
}

.search_bar{
    width: 100%;
    padding: 4.5% 0;
    border: 1px solid #00000029;
}

.colom_first{
    width: 10%;
    float: left;
    padding-top: .4%;
}
.colom_second{
    width: 66%;
    float: left;
    border: 1px solid #B5B5B5;
    border-radius: 6.86vw;
    margin:0% 7%;
    padding: .5%;
}
.colom_third{
    width: 10%;
    float: left;
}
.clear{
    clear: both;
}

.new_btn{
    background-color: #32BDD2;
    border:1px solid #32BDD2;
    border-radius: 35px;
    text-align: left;
    font-size: 1.17vw;
    font-family: 'Roboto';
    font-weight: bold;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    padding: 08% 10%;
}

.parent{
    background-color: #FAFAFA;
    padding: 4.19% 2.44% 3.02% 2.44%;
}

.container{
    background-color: #FFFFFF;
    padding: 0 3.0%;
}
.table{
border: 1px solid #00000029;
}

.cities{ 
    width: 50%;
    float: left;
    padding: 2.77% 0;
}

.status{
    width: 25%;
    float: left;
    padding: 4.83% 0;
}

.date{
    width: 25%;
    float: left;
    padding: 3.80% 0;
}

.head{
    text-align: left;
    font-size: 1.35vw;
    font-family: 'Roboto';
    font-weight: bold;
    letter-spacing: 1.4px;
    color: #595959;
}
.description{
    text-align: left;
    font-size: 1.17vw;
    font-family: 'Roboto';
    letter-spacing: 0.6px;
    color: #747474;
    padding-top: 1.0%;
}
.draft_dot{

}
.draft{
    text-align: center;
    font-size: 1.35vw;
    font-family: 'Roboto';
    letter-spacing: 1.4px;
    color: #5A5A5A;
}
.created_on{
    text-align: right;
    font-size: 0.97vw;
    font-family: 'Roboto';
    letter-spacing: 0.75px;
    color: #747474;
}
.jul{
    text-align: right;
    font-size: 1.35vw;
    font-family: 'Roboto';
    letter-spacing: 0.7px;
    color: #595959;
    padding-top: 1.0%;
}
.footer{
    width: 14.63%;
    margin: auto;
    padding: 2.90% 0;
}
.showmore{
    font-size: 1.36vw;
    font-family: 'Roboto';
    letter-spacing: 1.4px;
    color: #595959;
    border: ipx solid #00000029;
}

@media only screen and (max-width: 768px) {
    .dropdown{
        width: 7.2px;
        height: 5px;
    }

    .profile_pic{
        width: 24.15px;
        height: 24.15px;
    }

    .icon{
        width: 8.2px;
        height: 8.2px;
        }
}

@media only screen and (max-width: 1440px)  and  (min-width: 1025px) {
    .dropdown{
        width: 12.59px;
        height: 8.85px;

    }

    .profile_pic{
        width: 45.15px;
        height: 45.15px;
    }

    .icon{
        width: 15.4px;
        height: 15.4px;
        }
}

@media only screen and (max-width: 1920px) and (min-width:1441px) {
    .dropdown{
        width: 18.89px;
        height: 11.35px;
    }

    .profile_pic{
        width: 60.15px;
        height: 60.15px;
    }

    .icon{
        width: 20.5px;
        height: 20.5px;
        }
}

@media only screen and (max-width: 2560px) and (min-width:1991px){
    .dropdown{
        width: 22.89px;
        height: 14.85px;
    }

    .profile_pic{
        width: 80.15px;
        height: 80.15px;
        
    }

    .icon{
        width: 30px;
        height: 30px;
        }
}