*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.header_container{
    width: 100%;
    box-shadow: 0px 0px 4px #212121;
    padding: 01%;
}
.left_section{
    width: 85%;
    float: left;
}
.right_section{
    width: 15%;
    float: right;
}
.clear{
    clear: both;
}
.posh{
    font-family: 'Anton';
    font-size: 30px;
    letter-spacing: 1.1px;
    color: #000000;
}

.notification{
   width: 24%;
}

.profile_pic img{
    width: 40px;
}
.containt{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.notification img {
width: 40px;

}
.dropdown{
    padding-right: 5%;
}
.lucy{
    text-align: center;
    font-size: 14px;
    font-family: "Roboto";
    letter-spacing: 0.9px;
    color: #595959;
}

.down_icon{
    width: 12px;
    height: 12px;
}
.container{
    background-color: #F6F8F9;
    padding: 02% 02% 3%;
}
.containt_background{
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000029;
}
.complaints{
    text-align: left;
   font-family: 'Anton';
   font-size: 16px;
    letter-spacing: 1.4px;
    color: #000000;
}
.first_row{
    padding: 1.5%;
    border-bottom: 1px solid #CCCCCC;
}

.items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 1px solid #CCCCCC;
    padding: 2% 8% 2.5% 4%;
}

.item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
   
    padding: 2% 8% 2.5% 4%;
}

.tmp{
    text-align: left;
    font-family: 'Lato';
    padding-bottom: 4%;
    font-size: 18px;
    letter-spacing: 1.4px;
    color: #595959;
    font-weight: bold;
}
.respondent{
    text-align: left;
    font-family: 'Lato';
    font-size: 15px;
    letter-spacing: 0.6px;
    color: #909090;
}
.nishant{
    text-align: left;
    font-family: 'Lato';
    font-size: 18px;
    letter-spacing: 1.4px;
    color: #505050;
}
.address{
    text-align: left;
    font-family: 'Lato';
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #4C5264;
    width: 90%;
    padding: 3% 0%;
}
.seen{
    text-align: left;
    font-family: 'Lato';
    font-size: 15px;
    letter-spacing: 0.6px;
    color: #909090;
}
.date{
    text-align: left;
    font-family: 'Lato';
    font-size: 18px;
    letter-spacing: 1.4px;
    color: #505050;
    font-weight: bold;
    padding-bottom: 2%;
}

.left{
    width: 15%;
    float: left;
    clear: left;
}

.right{
    width: 85%;
    clear: right;
    float: right;
    padding-top: 2.5%;
}
.delete_section img{
    width: 55px;
}
.delete{
    text-align: left;
    font-family: 'Lato';
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #747474;
}
.draft_btn{
    font-family: 'Lato';
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    background: #D0C824 ;
    border-radius: 26px;
    padding: 15px 50px;
    border: 1px solid #D0C824 ;
}
.review_btn{
    font-family: 'Lato';
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    background: #D05224 ;
    border-radius: 26px;
    padding: 15px 15px;
    border: 1px solid #D05224 ;
}
.submit_on{
    padding-top: 4%;
}

.second_colom img{
    width: 60px;
    height: 60px;
}
@media only screen and (max-width: 768px) {

    .left_section{
        width: 78%;
        float: left;
    }
    .right_section{
        width: 22%;
        float: right;
    }
    .posh{
        font-size: 15px;
    }
    .profile_pic img{
        width: 25px;
    }

    .notification img{
        width: 25px;
    }
    .lucy{
        font-size: 10px;
    }
    .down_icon img{
        width: 10px;
    }
    
    .complaints{
       font-size: 12px;
    }
    
    .first_colom{
    
        
    }
    .second_colom{

        padding-right: 17%;
    }
    .third_colom{ 

       
    }
    .tmp{
        font-size: 12px;
    }
    .respondent{
        font-size: 10px;
    }
    .nishant{
        font-size: 12px;
    }
    .address{
        font-size: 10px;
        width: 60%;
    }
    .seen{
        font-size: 10px;
    }
    .date{
        font-size: 12px;
    }
    .delete_section img{
        width: 40px;
    }
    .delete{
        font-size: 10px;
    }
    .draft_btn{
        font-size: 10px;
        padding: 9px 39px;
    }
    .review_btn{
        font-size: 10px;
        padding: 9px 12px;
    }
    
    .second_colom img{
        width: 40px;
        height: 40px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .left_section{
        width: 78%;
        float: left;
    }
    .right_section{
        width: 22%;
        float: right;
    }
    .posh{
        font-size: 24px;
    }
    
    .profile_pic img{
        width: 40px;
    }
    
    .notification img{
        width: 40px;
    }
    .lucy{
        font-size: 12px;
    }
    .down_icon img{
        width: 12px;
    }
   
    .address{
        width: 80%;
    }
      
    .down_icon{
        flex: 2;
    }

    .complaints{
        font-size: 14px;
     }
     
     .first_colom{
     
         
     }
     .second_colom{
 
         padding-right: 17%;
     }
     .third_colom{ 
 
        
     }
     .tmp{
         font-size: 14px;
     }
     .respondent{
         font-size: 12px;
     }
     .nishant{
         font-size: 14px;
     }
     .address{
         font-size: 12px;
         width: 60%;
     }
     .seen{
         font-size: 12px;
     }
     .date{
         font-size: 14px;
     }
     .delete_section img{
         width: 50px;
         height: 50px;
     }
     .delete{
         font-size: 12px;
     }
     .draft_btn{
         font-size: 12px;
         padding: 9px 39px;
     }
     .review_btn{
         font-size: 12px;
         padding: 9px 12px;
     }
     
     .second_colom img{
         width: 50px;
         height: 50px;
     }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .left_section{
        width: 82%;
        float: left;
    }
    .right_section{
        width: 18%;
        float: right;
    }
    .posh{
        font-size: 27px;
    }
    
    .profile_pic img{
        width: 42px;
    }

    .notification img{
        width: 42px;
    }
    .lucy{

        font-size: 15px;
    }
    .down_icon img{
        width: 15px;
    }

    .complaints{
        font-size: 18px;
     }
     
     .first_colom{
     
         
     }
     .second_colom{
         padding-right: 17%;
     }
     .third_colom{ 
 
        
     }
     .tmp{
         font-size: 16px;
     }
     .respondent{
         font-size: 14px;
     }
     .nishant{
         font-size: 16px;
     }
     .address{
         font-size: 14px;
         width: 60%;
     }
     .seen{
         font-size: 14px;
     }
     .date{
         font-size: 16px;
     }
     .delete_section img{
         width: 50px;
         height: 50px;
     }
     .delete{
         font-size: 14px;
     }
     .draft_btn{
         font-size: 14px;
         padding: 11px 41px;
     }
     .review_btn{
         font-size: 14px;
         padding: 11px 14px;
     }
     
     .second_colom img{
         width: 40px;
         height: 40px;
     }
}

@media only screen and (min-width: 1921px) and (max-width: 2560px) {
    .posh{
        font-size: 50px;
    }
    
    .profile_pic img{
        width: 70px;
    }
    
    .notification img{
        width: 70px;
    }
    .lucy{
        font-size: 28px;
    }
    .down_icon{
        width: 20px;
        height: 20px;
    }

    .complaints{
        font-size: 32px;
     }
     .dropdown {
        padding-right: 2%;
    }
     .first_colom{
     
         
     }
     .second_colom{
 
         padding-right: 17%;
     }
     .third_colom{ 
 
        
     }
     .tmp{
         font-size: 28px;
     }
     .respondent{
         font-size: 22px;
     }
     .nishant{
         font-size: 28px;
     }
     .address{
         font-size: 22px;
         width: 60%;
     }
     .seen{
         font-size: 22px;
     }
     .date{
         font-size: 28px;
     }
     .delete_section img{
         width: 75px;
        height: 75px;
     }
     .delete{
         font-size: 22px;
     }
     .draft_btn{
         font-size: 22px;
         padding: 20px 73px;
         border-radius: 46px;
     }
     .review_btn{
         font-size: 22px;
         padding: 20px 29px;
         border-radius: 46px;
     }
     
     .second_colom img{
         width: 75px;
         height: 75px;
     }
}

