
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.header_container{
    width: 100%;
    box-shadow: 0px 0px 4px #212121;
    padding: 01%;
}
.left_section{
    width: 85%;
    float: left;
}
.right_section{
    width: 15%;
    float: right;
}
.clear{
    clear: both;
}
.posh{
    font-family: 'Anton';
    font-size: 30px;
    letter-spacing: 1.1px;
    color: #000000;
}
.notification{
    width: 24%;
 }
.profile_pic img{
    width: 40px;
}
.header_containt{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.notification img {
width: 40px;

}
.dropdown{
    padding-right: 5%;
}
.lucy{
    text-align: center;
    font-size: 14px;
    font-family: "Roboto";
    letter-spacing: 0.9px;
    color: #595959;
}

.down_icon{
    width: 12px;
    height: 12px;
}


.main_container{
    background-color: #F6F8F9;
    padding: 2.44;
}
.containt_container{
    display: flex;
    padding: 2%;
}

.left_part{
    background-color: #fff;
    padding-top: 4%;
    width: 07.60%;
}
.rotate{
text-align: center;
padding-bottom: 50%;
}
.complainant{
    font-size: 25px;
    font-family: 'Anton';
    letter-spacing: 2.8px;
    color: #000000;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);

}

.circle_color{
    font-size: 12px;
    font-family: 'Roboto';
    letter-spacing: 0;
    fill: #fff;
}

.circle_without_color{
    font-size: 12px;
    font-family: 'Roboto';
    letter-spacing: 0;
    fill: #d3d3d3;
}

.svg_view_port{

    width: 50%;
    margin: auto;
}

.right_part{
    background-color: #FCFCFC;
}

.containt{
    padding: 2%;
}
.heading{
    text-align: left;
    font-family: 'Lato';
    font-size: 25px;
    letter-spacing: 1.4px;
    color: #B5B5B5;
}
.ack{
    font-weight: bold;
    color: #505050;
    padding-top: 1%;
}
.lorem{
    color: #505050;
    padding-top: 1%;
    width: 48%;
}
.links{
    padding-top: 2%;
}
.print{
    text-align: left;
    font-family: 'Lato';
    font-size: 23px;
    letter-spacing: 0.6px;
    color: #505050;
    border-bottom: 1px solid #505050;
}

a{
    text-decoration: none;
    padding-right: 1%;
}

@media only screen and (max-width: 768px) {
    .posh{
        font-size: 15px;
    }
    
    .left_section{
        width: 78%;
        float: left;
    }
    .right_section{
        width: 22%;
        float: right;
    }
    .posh{
        font-size: 15px;
    }
    .profile_pic img{
        width: 25px;
    }

    .notification img{
        width: 25px;
    }
    .lucy{
        font-size: 10px;
    }
    .down_icon img{
        width: 10px;
    }
    
    .complainant{
        font-size: 10px;
    }
    
    .circle_color{
        font-size: 12px;
    }
    
    .circle_without_color{
        font-size: 12px;
    }
    
    
    .heading{
        font-size: 10px
    }

    .lorem{
        color: #505050;
        padding-top: 1%;
        width: 91%;
    }
    .links{
        padding-top: 2%;
    }
    .print{
        font-size: 9px;
    }
    
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .posh{
        font-size: 24px;
    }
    
    .left_section{
        width: 78%;
        float: left;
    }
    .right_section{
        width: 22%;
        float: right;
    }
    .posh{
        font-size: 24px;
    }
    
    .profile_pic img{
        width: 40px;
    }
    
    .notification img{
        width: 40px;
    }
    .lucy{
        font-size: 12px;
    }
    .down_icon img{
        width: 12px;
    }

    .complainant{
        font-size: 14px;
    }
    
    .circle_color{
        font-size: 12px;
    }
    
    .circle_without_color{
        font-size: 12px;
    }
    
    
    .heading{
        font-size: 14px
    }

    .lorem{
        width: 87%;
    }
    .links{
        padding-top: 2%;
    }
    .print{
        font-size: 10px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .posh{
        font-size: 27px;
    }
    
    .left_section{
        width: 82%;
        float: left;
    }
    .right_section{
        width: 18%;
        float: right;
    }
    .posh{
        font-size: 27px;
    }
    
    .profile_pic img{
        width: 42px;
    }

    .notification img{
        width: 42px;
    }
    .lucy{

        font-size: 15px;
    }
    .down_icon img{
        width: 15px;
    }

    .complainant{
        font-size: 19px;
    }
    
    .circle_color{
        font-size: 12px;
    }
    
    .circle_without_color{
        font-size: 12px;
    }
    
    
    .heading{
        font-size: 19px
    }

    .lorem{
        width: 80%;
    }
   
    .print{
        font-size: 17px;
    }
}

@media only screen and (min-width: 1921px) and (max-width: 2560px) {
    .posh{
        font-size: 50px;
    }
    
    .profile_pic img{
        width: 70px;
    }
    
    .notification img{
        width: 70px;
    }
    .lucy{
        font-size: 28px;
    }
    .down_icon{
        width: 20px;
        height: 20px;
    }

    .complaints{
        font-size: 35px;
     }
     .dropdown {
        padding-right: 2%;
    }

    .complainant{
        font-size: 35px;
    }
    
    .circle_color{
        font-size: 12px;
    }
    
    .circle_without_color{
        font-size: 12px;
    }
    

    .heading{
        font-size: 35px
    }

    .lorem{
        width: 91%;
    }
    .links{
        padding-top: 2%;
    }

        
    .print{
        font-size: 30px;
    }
} 