*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: #FF6262;
}
.parent{
    padding: 3%;
}
.carousel_left{
    width: 40%;
    float: left;
    clear: left;
}
.carousel_right{
    width: 50%;
    float: right;
    clear: right;
    margin: auto;
}
.Harassment_Bullying{
width: 100%;
margin-bottom: 19%;
}
.comma{
    width: 44%;
    float: left;
    clear: left;
}
.and{
    width: 56%;
    float: right;
    clear: right;
    
}
.stop{
    text-align: left;
    font-family: 'Roboto';
    font-size: 88px;
    font-weight:bold;
    letter-spacing: 0;
    color: #FFFFFF;
    padding: 2%;
  
}
.harassment{
    text-align: left;
    font-family: 'Roboto';
    font-size: 31px;
    letter-spacing: 0;
    color: #FFFFFF;
    border-left: 6px solid #FFFFFF;
    padding: 2%;
    width: 50%;
}
.Unwelcome{
    text-align: left;
    font-family: 'Roboto';
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    width: 80%;
    line-height: 1.5;
}
.page_select img{
  width: 10px;
}

.page_select{
    width: 20%;
    float: right;
    margin: auto;padding-top: 7%;
}
.page_no{
    text-align: left;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #DBC5C5;
}