*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.header_container{
    width: 100%;
    box-shadow: 0px 0px 4px #212121;
    padding: 01.17% 2.44%;
}
.left_section{
    width: 80%;
    float: left;
}
.right_section{
    width: 20%;
    float: right;
}
.clear{
    clear: both;
}
.posh{
    font-family: 'Anton';
    font-size: 24px;
    letter-spacing: 1.1px;
    color: #000000;
}

.profile_pic img{
    width: 32px;
}
.containt{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.notification img {
width: 32px;

}
.dropdown{
    padding-right: 5%;
}
.lucy{
    text-align: center;
    font-size: 12px;
    font-family: "Roboto";
    letter-spacing: 0.9px;
    color: #595959;
}

.down_icon{
    width: 9.39px;
    height: 6px;
}

.container{
    background-color: #F6F8F9;
    padding: 02% 02% 3%;
}

.under_riview{
height: 273px;
border: 1px solid #CCCCCC;
margin: 2% 0;
}

.containt_background{
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000029;
    padding: 0% 7.47% 2.79% 7.66%;
}

.return_container{
    padding: 7.0% 0% 7.19% 0%;
   
}

.return{
    width: 32px;
    height: 32px;
    box-shadow: 0px 0px 8px #00000029;
    border-radius: 42px;
    background-color: #fff;
}

.charges_container{
    border: 1px solid #CCCCCC;
    padding: 1.78% 8.25% 2.022% 12.62%;
    position: relative;
}


.white_space{
    height: 900px;
}


.charges{
    text-align: left;
    font-size: 14px;
    font-family: 'Lato';
    letter-spacing: 1.4px;
    color: #505050;
    font-weight: bold;
    padding: 1.5% 0;
}

.lorem_text{
    text-align: left;
    font-size: 14px;
    font-family: 'Lato';
    letter-spacing: 1.4px;
    color: #4C5264;
   
    line-height: 1.7;
} 

.lorem{    
padding-top: 3%;
}

.may{
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    letter-spacing: 1.4px;
    color: #747474;
}

.heading{
    text-align: left;
    font-size: 14px;
    font-family: 'Lato';
    letter-spacing: 1.4px;
    color: #464646;
    font-weight: bold;
    padding: 4% 0 2% 0;
}

.append_charges{
    padding: 01.6% 2.6%;
    margin-bottom: 8.13%;
}

.witness_charges{
    padding: 01.6% 2.6%;
    background-color: #FBFCE7;
}

.append{
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    color: #505050;
    vertical-align: middle;
    padding: 0% 1% .5%;
}

.pluse_icon{
        width: 26px;
        height: 26px;
        vertical-align: middle;
}

.error_msg{
   background: #F0F0F0;
   border-radius: 50px;
   padding: 01% 02%;
   margin-top: 2%;
   width: 38%;
}

.error_icon{
    width: 14.85px;
    height: 13.5px;
    vertical-align:middle;
}

.msg{
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    color: #CB1720;
    vertical-align: middle;
    padding-left: 01%;
}

.evidence_section{
    padding: 0% 0 1% 0%;

}


.evidence_container{
    padding: 3% 2%;
    background-color: #FBFCE7;
    border: 1px solid #F3F5B3;
}


.append_container{
    padding: 1% 2%;
    background-color: #FBFCE7;
    margin-bottom: 7.12%;
}

.drop_down{
    width: 9.39px;
    height: 5.85px;
    vertical-align: middle;
}

.evidence_description{
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    color: #505050;
}

.evidence{
    width: 12%;
    background: #F3F5B3;
    border-top-left-radius: 15px;
    padding: 1%;
}


.task_container{
    width: 6.79%;
    margin-right: auto;
    background-color: #32BDD2;
    border: 1px solid #D6D4E0;
    border-radius: 50px;
    position:absolute;
    left: 0%;
    top: 1.78%;
    transform: translateX(-50%);
}

.mail img{
    display: block;
    margin:auto;
    width: 20px;
    height: 20px;
}

.mail_mail img{
    display: block;
    margin:auto;
    width: 16px;
    height: 16px;
}

.mail{
    padding: 43% 0;
}
.mail_mail{
    padding: 43% 0;
}

.home img{
    display: block;
    margin:auto;
    width: 30px;
    height: 30px;
}
.home{
    padding: 10% 0 0 5%;
    width: 38px;
    height: 38px;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px #3B3B3B29;
    border-radius: 200px;
}


/* ==================under review==================== */



.underBox {
    border: 1px solid #CCCCCC;
    margin-bottom: 3.5%;
}

.greyUnderBar {
    padding: 3.4% 4.2%;
    background-color: #EEEEEE;
}

.buttonBox {
    width: 40%;
    float: left;
}

.underButton {
    background-color: #D05224;
    color: #FFFFFF;
    border: 0;
    padding: 6px 15px;
    letter-spacing: 1.2px;
    font-family: 'Lato';
    font-size: 1.17vw;
    font-weight: 900;
}

.detailsBox {
    width: 30%;
    float: left;
}

.barHeading {
    font-family: 'Lato';
    font-size: 0.97vw;
    letter-spacing: 1.2px;
    color: #747474;
    padding-bottom: 2%;
}

.barDetails {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #464646;
    font-weight: 700;
}

.complaintBox {
    width: 30%;
    float: left;
    text-align: right;
}

.underBody {
    padding: 3.4% 4.2%;
}

.complainantBox {
    width: 50%;
    float: left;
}

.respondentBox {
    width: 50%;
    float: right;
    text-align: right;
}

.bodyHeading {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #909090;
    font-weight: 600;
    padding-bottom: 4%;
}

.underName {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #505050;
    font-weight: 900;
    padding-bottom: 3%;
}

.bodyDetails {
    color: #4C5264;
    font-family: 'Lato';
    font-size: 0.97vw;
    letter-spacing: 1.2px;
    padding-bottom: 2%;
}

.clear {
    clear: both;
}



.witnessTag {
    background-color: #F3F5B3;
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #505050;
    padding: 1.2% 2.7%;
    border-top-left-radius: 1.17vw;
    display: inline-block;
}

.borderContainer {
    border: 1px solid #F3F5B3;
}

.yellowCard {
    background-color: #fbfce7;
    padding: 4% 2.7%;
}

.witDescription {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #505050;
    padding-bottom: 1%;
}

.addIcons {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.addLabel {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #000000;
    padding-left: 1.2%;
}

.row {
    padding: 4.6% 2.7%;
}

.bodBot {
    border-bottom: 1px solid #F3F5B3;
}

.editIcons {
    width: 34px;
    height: 34px;
}

.deleteIcons {
    width: 34px;
    height: 34px;
    margin-left: 2%;
}

.leftColumn {
    float: left;
    width: 50%;
}

.rightColumn {
    float: right;
    width: 50%;
    text-align: right;
    visibility: hidden;
}

.witName {
    font-family: 'Lato';
    font-size: 1.36vw;
    font-weight: 900;
    letter-spacing: 1.2px;
    color: #747474;
}

.witDetails {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #747474;
}

.parent{
    padding-bottom: 7.28%;
    padding-top: 7.28%;
}


.evidenceHeading {
    background-color: #F3F5B3;
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 1.2px;
    color: #505050;
    padding: 1.2% 2.7%;
    border-top-left-radius: 12px;
    display: inline-block;
}

.evidenceDescription {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #505050;
    padding-bottom: 1%;
}

.yellowCard {
    background-color: #fbfce7;
    padding: 4% 2.7%;
}

.borderBox {
    border: 1px solid #F3F5B3;
}

.rows {
    padding: 4.4% 2.7%;
    border-bottom: 1px solid #F3F5B3;
}

.leftColumns {
    width: 75%;
    float: left;
    text-align: left;
}

.rightColumns {
    width: 25%;
    float: right;
    text-align: right;
}

.latoReg {
    font-family: 'Lato';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #505050;
}

.latoBold {
    font-family: 'Lato';
    font-size: 1.17vw;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #747474;
    padding-bottom: 2%;
}

.underline {
    padding-bottom: 2px;
    border-bottom: 1px solid #595959;
}
@media only screen and (max-width: 768px) {

    .left_section{
        width: 78%;
        float: left;
    }
    .right_section{
        width: 22%;
        float: right;
    }
    .posh{
        font-size: 15px;
    }
    .profile_pic img{
        width: 25px;
    }

    .notification img{
        width: 25px;
    }
    .lucy{
        font-size: 10px;
    }
    .down_icon img{
        width: 10px;
    }
    
    .mail img{
        width: 20px;
        height: 20px;
    }
    
    .mail_mail img{
        width: 17px;
        height: 17px;
    }
    
    .home img{
        width: 20px;
        height: 20px;
    }
    .home{
        padding-top: 10%;
        width: 30px;
        height: 30px;
    }

    .return{
        width: 24px;
        height: 24px;
    }

    .charges{
        font-size: 10px;
    }
    
    .lorem_text{
        font-size: 10px;
    } 
    
    .may{
        font-size: 8px;
    }
    
    .heading{
        font-size: 10px;
    }
    
    .append{
        font-size: 8px;
    }
    
    .pluse_icon{
            width: 19px;
            height: 19px;
    }
    
    .evidence{
        border-top-left-radius:8px;
    }

    .error_msg{
       border-radius: 50px;
    }
    
    .error_icon{    
        width: 10px;
        height: 9px;
    }
    
    .msg{
        font-size: 8px;
    }

    .drop_down{
        width: 5px;
        height: 5px;
    }
    
    .evidence_description{
        font-size: 8px;
    } 
    

    .addIcons {
        width: 22.5px;
        height: 22.5px;
    }
    .editIcons {
        width: 25.5px;
        height: 25.5px;
    }
    .deleteIcons {
        width: 25.5px;
        height: 25.5px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .left_section{
        width: 82%;
        float: left;
    }
    .right_section{
        width: 18%;
        float: right;
    }
    .posh{
        font-size: 27px;
    }
    
    .profile_pic img{
        width: 42px;
    }

    .notification img{
        width: 42px;
    }
    .lucy{

        font-size: 15px;
    }
    .down_icon img{
        width: 15px;
    }

    .mail img{
        width: 30px;
        height: 30px;
    }
    
    .mail_mail img{
        width: 25px;
        height: 25px;
    }
    
    
    .home img{
        width: 30px;
        height: 30px;
    }
    .home{
        padding-top: 5%;
        width: 40px;
        height: 40px;
    }
   

    .return{
        width: 45px;
        height: 45px;
    }

    .charges{
        font-size: 19px;
    }
    
    .lorem_text{
        font-size: 19px;
    } 
    
    .may{
        font-size: 17px;
    }
    
    .heading{
        font-size: 19px;
    }
    
    .append{
        font-size: 17px;
    }
    
    .pluse_icon{
            width: 36px;
            height: 36px;
    }
    
    .error_msg{
        width: 36%;
    }
    .error_icon{    
        width: 14px;
        height: 13px;
    }
    
    .msg{
        font-size: 17px;
    }

    .drop_down{
        width: 12px;
        height: 10px;
        vertical-align: middle;
    }
    
    .evidence_description{
        font-size: 17px;
    }

    .addIcons {
        width: 42.2px;
        height: 42.2px;
    }
    .editIcons {
        width: 47.8px;
        height: 47.8px;
    }
    .deleteIcons {
        width: 47.8px;
        height: 47.8px;
    }
    
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
    .left_section{
        width: 80%;
        float: left;
    }
    .right_section{
        width: 20%;
        float: right;
    }
    .posh{
        font-family: 'Anton';
        font-size: 45px;
        letter-spacing: 1.1px;
        color: #000000;
    }
    
    .profile_pic img{
        width: 60px;
    }

    .notification img {
    width: 60px;
    
    }
    .dropdown{
        padding-right: 5%;
    }
    .lucy{
        font-size: 26px;
    }
    
    .down_icon{
        width: 12px;
        height: 12px;
    }
    
  
    .return{
        width: 48px;
        height: 48px;
    }
     
    
    .charges{
        font-size: 25px;

    }
    
    .lorem_text{
        font-size: 25px;
    } 
    
    
    .may{
        font-size: 22px;
    }
    
    .heading{
        font-size: 25px;
    }
    
    
    .append{
        font-size: 22px;
    }
    
    .pluse_icon{
            width: 42px;
            height: 42px;
    }
    
    
    .error_icon{
        width: 20px;
        height: 20px;
    }
    
    .msg{
        font-size: 22px;
    }
    
    
    .drop_down{
        width: 15px;
        height: 15px;
    }
    
    .evidence_description{
        font-size: 23px;

    }
    
    
    .mail img{
        width: 55px;
        height: 55px;
    }
    
    .mail_mail img{
        width: 30px;
        height: 30px;
    }
    
  
  
    
    .home img{

        width: 55px;
        height: 55px;
    }
    .home{

        width: 75px;
        height: 75px;

    }

    .addIcons {
        width: 56px;
        height: 56px;
    }
    .editIcons {
        width: 63.7px;
        height: 63.7px;
    }
    .deleteIcons {
        width: 63.7px;
        height: 63.7px;
    }
}

@media only screen and (min-width: 1921px) and (max-width: 2560px) {
    .posh{
        font-size: 50px;
    }
    
    .profile_pic img{
        width: 70px;
    }
    
    .notification img{
        width: 70px;
    }
    .lucy{
        font-size: 28px;
    }
    .down_icon{
        width: 20px;
        height: 20px;
    }

    .complaints{
        font-size: 32px;
     }
     .dropdown {
        padding-right: 2%;
    }
        .mail img{
            width: 60px;
            height: 60px;
        }
        
        .mail_mail img{
            width: 45px;
            height: 45px;
        }
        
        
        .home img{
            width: 60px;
            height: 60px;
            vertical-align: middle;
        }
        .home{
            width: 110px;
            height: 110px;
        }
    
        .return{
            width: 80px;
            height: 80px;
        }
    
        .charges{
            font-size: 35px;
        }
        
        .lorem_text{
            font-size: 35px;
        } 
        
        .may{
            font-size: 30px;
        }
        
        .heading{
            font-size: 35px;
        }
        
        .append{
            font-size: 30px;
        }
        
        .pluse_icon{
                width: 65px;
                height: 65px;
        }
        
        .error_msg{
           border-radius: 70px;
        }
        
        .error_icon{    
            width: 23px;
            height: 20px;
            vertical-align:middle;
        }
        
        .msg{
            font-size: 30px;
        }
    
        .drop_down{
            width: 20px;
            height: 18px;
            vertical-align: middle;
        }
        
        .evidence_description{
            font-size: 30px;
        }

        .task_container{
            border-radius: 70px;
        }
        
        .evidence{
            border-top-left-radius: 35px;
        }

        .addIcons {
            width: 75px;
            height: 75px;
        }
        .editIcons {
            width: 85px;
            height: 85px;
        }
        .deleteIcons {
            width: 85px;
            height: 85px;
        }
}

