 * {
     padding: 0%;
     margin: 0%;
     box-sizing: border-box;
 }
 
 body {
     background-color: #000000B2
 }
 
 .container {
     width: 55.55%;
     background-color: #FFFFFF;
     box-shadow: 0px 0px 35px #00000029;
     border-radius: 20px;
     margin: auto;
     /* margin-top: 21.77%; */
 }
 
 .icon {
     padding-right: 3.38%;
     padding-top: 3.38%;
 }
 
 .icon img {
     float: right;
     width: 80px;
     background: #FAFAFA;
     box-shadow: 0px 0px 10px #00000029;
     border: 0.5px solid #EFEFEF;
     border-radius: 100px;
 }
 
 .delete_top {
     padding: 7.91% 0 5.52% 6.87%;
 }
 
 .delete {
     text-align: left;
     font-size: 32px;
     font-weight: bold;
     font-family: 'Lato';
     letter-spacing: 1.6px;
     color: #E65959;
 }
 
 .button_top {
     text-align: center;
     padding-bottom: 7.90%;
 }
 
 .conferm_top {
     padding: 0 0 6.14% 6.88%;
 }
 
 .conferm {
     width: 80.95%;
     text-align: left;
     font-size: 25px;
     font-family: 'Lato';
     letter-spacing: 0.7px;
     color: #5A5A5A;
     line-height: 2;
 }
 
 .delete_btn {
     padding: 1.61% 4.44%;
     text-align: center;
     font-size: 20px;
     font-family: 'Lato';
     letter-spacing: 1.5px;
     color: #FFFFFF;
     background: #E65959;
     box-shadow: 0px 4px 6px #00000029;
     border-radius: 3px;
     border: 1px solid #E65959;
     cursor: pointer;
     font-weight: 600;
     margin-right: 5.27%;
 }
 
 .no_btn {
     padding: 1.68% 8.4%;
     background: #32BDD2;
     box-shadow: 0px 4px 6px #00000029;
     border-radius: 3px;
     font-size: 20px;
     font-family: 'Roboto';
     text-align: center;
     letter-spacing: 1.5px;
     color: #FFFFFF;
     border: 1px solid #32BDD2;
     cursor: pointer;
     font-weight: 600;
 }
 
 .clear {
     clear: both;
 }
 
 .left {
     width: 50%;
     float: left;
 }
 
 .right {
     width: 50%;
     float: right;
 }
 
 @media only screen and (max-width: 768px) {
     .icon img {
         width: 30px;
     }
     .delete {
         font-size: 13px;
     }
     .conferm {
         font-size: 11px;
     }
     .delete_btn {
         font-size: 10px;
     }
     .no_btn {
         font-size: 10px;
     }
 }
 
 @media only screen and (min-width: 769px) and (max-width: 1024px) {
     .icon img {
         width: 32px;
     }
     .delete {
         font-size: 16px;
     }
     .conferm {
         font-size: 14px;
     }
     .delete_btn {
         font-size: 15px;
     }
     .no_btn {
         font-size: 15px;
     }
 }
 
 @media only screen and (min-width: 1025px) and (max-width: 1440px) {
     .icon img {
         width: 55px;
     }
     .delete {
         font-size: 25px;
     }
     .conferm {
         font-size: 17px;
     }
     .delete_btn {
         font-size: 15px;
     }
     .no_btn {
         font-size: 15px;
     }
 }
 
 @media only screen and (min-width: 1921px) and (max-width: 2560px) {
     .icon img {
         width: 125px;
     }
     .delete {
         font-size: 50px;
     }
     .conferm {
         font-size: 40px;
     }
     .delete_btn {
         font-size: 38px;
     }
     .no_btn {
         font-size: 38px;
     }
 }