* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.header_container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1% 0;
    box-shadow: 0px 0px 4px #00000029;
}

.posh {
    flex: 26;
    font-family: 'Anton';
    font-size: 24px;
    letter-spacing: 1.1px;
    color: #000000;
    padding-left: 2%;
}

.profile_pic img {
    width: 43px;
}

.profile_pic {
    flex: 1;
}

.notification {
    flex: 1.5;
}

.notification img {
    width: 43px;
}

.lucy {
    flex: 2.5;
    text-align: left;
    font-size: 12px;
    font-family: 'Roboto';
    letter-spacing: 0.9px;
    color: #595959;
    text-align: center;
}

.down_icon img {
    width: 13px;
}

.down_icon {
    padding-right: 2%;
}

.down_icon {
    padding-right: 2%;
}

.containt {
    padding: 3%;
    background-color: #fff;
}

.parent {
    background-color: #F6F8F9;
    padding: 2%;
}
.video{
    padding: 3% 0;
}
.faq {
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    color: #424242;
    padding: 2% 0;
}
.group img{
 width: 350px;
}
.group{
    padding-bottom: 2%;
}
.explore img {
    width: 28px;
}

.explore {
    width: 3%;
    float: left;
    clear: left;
}

.topics {
    width: 97%;
    float: right;
    clear: right;
    padding-top: 0.5%;
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    color: #424242;
}

.description {
    margin-top: 5%;
}

.meant {
    text-align: left;
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    color: #000000;
    letter-spacing: 0;
    color: #505050;
    font-weight: 600;
    padding-bottom: 1%;
}

.lorem {
    text-align: left;
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    color: #000000;
    letter-spacing: 0;
    color: #505050;
    padding-bottom: 2%;
}

.helpfull {
    width: 100%;
    display: flex;
}

.coloumn_one {
    flex: 4;
    background-color: #EEEEEE;
    padding: 4% 2%;
}

.coloumn_two {
    flex: 5;
    background-color: #EEEEEE;
    padding: 4% 1%;
}

.usefull {
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    color: #000000;
    letter-spacing: 0;
    color: #505050;
    padding-left: 13%;
    font-weight: 600;
    padding-bottom: 4.5%;
}

.like_part {
    width: 30%;
    float: left;
    clear: left;
}

.likes img {
    width: 60px;
}

.dis_like_part {
    width: 70%;
    float: right;
    clear: right;
}

.percent {
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    color: #747474;
    padding-left: 11%;
}

.percent_10 {
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    color: #747474;
    padding-left: 5%;
}

.btn {
    color: #fff;
    padding: 6px 15px;
    cursor: pointer;
    background-color: #32BDD2;
    border: 1px solid #32BDD2;
    border-radius: 8px;
    margin-top: 2%;
}

.review {
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #505050;
    padding-bottom: 3.5%;
}

.comment_section {
    width: 100%;
}

.comments {
    padding: 2.5% 0;
    overflow: hidden;
}

.left_part {
    width: 10%;
    float: left;
    clear: left;
}

.left_part img {
    width: 100px;
}

.thumb img {
    width: 20px;
}

.right_part {
    width: 90%;
    float: right;
    clear: right;
}

.name {
    text-align: left;
    font-size: 14px;
    font-family: "Lato";
    letter-spacing: 0;
    color: #505050;
    padding: .5%;
}

.date {
    text-align: left;
    font-size: 12px;
    font-family: "Lato";
    letter-spacing: 0.6px;
    color: #909090;
    padding: .5%;
}

.text {
    text-align: left;
    font-size: 12px;
    font-family: "Lato";
    letter-spacing: 1.1px;
    color: #747474;
    padding: .5%;
}

.likes {
    text-align: left;
    font-size: 10px;
    font-family: "Lato";
    letter-spacing: 0.5px;
    color: #909090;
    padding: .5%;
    padding-right: 2%;
}

.show_more {
    width: 95%;
    margin: auto;
    background-color: #EEEEEE;
    padding: 2%;
}

.show {
    padding: 2%;
    background-color: #EEEEEE;
}

.more {
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    color: #000000;
    letter-spacing: 0.6px;
    color: #505050;
    font-weight: 600;
}

.footer {
    width: 11%;
    margin: auto
}

.drop_down {
    width: 17px;
    padding-left: 5%;
}