*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.header_container{
    width: 100%;
    box-shadow: 0px 0px 4px #00000029;
    padding: 01%;
}
.left_section{
    width: 78%;
    float: left;
}
.right_section{
    width: 22%;
    float: right;
}
.clear{
    clear: both;
}
.containt{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.posh{
    font-family: 'Anton';
    font-size: 24px;
    letter-spacing: 1.1px;
    color: #000000;
}

.notification img{
    width: 40px;
}
.lucy{
    text-align: center;
    font-size: 14px;
    font-family: "Roboto";
    letter-spacing: 0.9px;
    color: #595959;
}
.down_icon img{
    width: 12px;
}
.notification{
   width: 24%;
}

.profile_pic img{
    width: 40px;
}

.down_icon{
    width: 9.32px;
    height: 5.83px;
}


@media only screen and (max-width: 768px) {

    .left_section{
        width: 80%;
        float: left;
    }
    .right_section{
        width: 20%;
        float: right;
    }
    .posh{
        font-size: 17.9px;
    }
    .profile_pic img{
        width: 24px;
    }

    .notification img{
        width: 24px;
    }
    .lucy{
        font-size: 10px;
    }
    .down_icon img{
        width: 10px;
    }
    
    .first_colom{
    
        
    }
    .second_colom{

        padding-right: 17%;
    }
    .third_colom{ 

       
    }


    .down_icon{
        width: 6.5px;
        height: 6.5px;
    }
    
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .left_section{
        width: 80%;
        float: left;
    }
    .right_section{
        width: 20%;
        float: right;
    }
    .posh{
        font-size: 37.7px;
    }
    
    .profile_pic img{
        width: 45px;
    }

    .notification img{
        width: 45px;
    }
    .lucy{

        font-size: 15px;
    }
    .down_icon img{
        width: 17px;
    } .down_icon{
        width: 17px;
        height: 17px;
    }
    .secod_colom{
         padding-right: 17%;
     }
     
     .down_icon{
        width: 12.5px;
        height: 12.5px;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {

    .left_section{
        width: 85%;
        float: left;
    }
    .right_section{
        width: 15%;
        float: right;
    }
    .posh{
        font-size: 45px;
    }
    
    .notification{
       width: 24%;
    }
    
    .profile_pic img{
        width: px;
    }
    
    .notification img {
        width: 40px;
        }
     
        .down_icon{
            width: 17px;
            height: 17px;
        }
}

@media only screen and (min-width: 1921px) and (max-width: 2560px) {
    .posh{
        font-size: 60px;
    }
    
    .profile_pic img{
        width: 80px;
    }
    
    .notification img{
        width: 80px;
    }
    .lucy{
        font-size: 28px;
    }
    .down_icon{
        width: 22px;
        height: 22px;
    }

}

