*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.policy_header{
    display: flex;
    border-bottom: 1px solid #505050;
    padding: 01%;
}
.policy{
    font-family: "Anton";
    font-size: 14px;
    text-align: left;
    letter-spacing: 1.4px;
    color: #000000;
    flex: 1;
}
.last{
    text-align: left;
    font-family: "Lato";
    font-size: 12px;
    letter-spacing: 0;
    color: #747474;
}
.pdf{
    padding-right: 01%;
    text-align: left;
    font-family: "Lato";
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #747474;
}
.download img{
    width: 40px;
}
.policies{
    padding: 2%;
}
.paragraph{
    text-align: left;
    font-family: "Lato";
    font-size: 14px;
    color: #505050;
    padding: 0.5%;
}
.comment_bar{
    width: 98%;
    margin: auto;
    display: flex;
    align-content: center;
    border:0.35px  solid #B5B5B5;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #fff;
}
.bar{
    background-color: #EAF2F4;
    padding: 2%;
}
.profile img{
    width: 60px;
    align-content: center;
    margin-left: auto;
    padding-top: 2%;
}
.profile{
     align-self: center;
     
}
.drop_comment input{
   flex: 0;
   width: 100%;
   border: 0px;
   font-size: 12px; 
   padding: 1.6%;
}

.drop_comment{
    flex: 10;
 }
.submit{
    background-color: #32BDD2;
    color: #fff;
    border: #32BDD2;
    font-size: 12px;
    padding: 26px 47px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
   
}
.comment_section{
    width: 95%;
    margin: auto;
   
}
.comments{
  padding: 2.5% 0;
  overflow: hidden;
}
.left_part{
    width: 10%;
    float: left;
    clear: left;
}
.left_part img{
    width: 100px;
}
.thumb img{
    width: 20px;
}
.right_part{
    width: 90%;
    float: right;
    clear: right;
}
.name{
    text-align: left;
   font-size: 14px;
   font-family: "Lato";
    letter-spacing: 0;
    color: #505050;
    padding:.5%;
}
.date{
    text-align: left;
    font-size: 12px;
    font-family: "Lato";
    letter-spacing: 0.6px;
    color: #909090;
    padding:.5%;
}
.text{
    text-align: left;
    font-size: 12px;
    font-family: "Lato";
    letter-spacing: 1.1px;
    color: #747474;
    padding:.5%;
}
.likes{
    text-align: left;
    font-size: 10px;
    font-family: "Lato";
    letter-spacing: 0.5px;
    color: #909090;
    padding:.5%;
    padding-right: 2%;
}
.show_more{
    width: 95%;
    margin: auto;
    background-color: #EEEEEE;
    padding: 2%;
    margin-bottom: 2%;
}
.center{
    width: 12   %;
    margin: auto;
}
.show{
    text-align: left;
    font-size: 12px;
    font-family: "Lato";
    letter-spacing: 0.6px;
    color: #505050;
    font-weight: bold;
}
.down img{
  width: 12px;
}

.down{
    padding-left: 8%;
  }