*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.policy_header{
    border-bottom: 1px solid #505050;
    padding: 01%;
}

.download{
    width: 12%;
    float: right;
}
.policy{
    font-family: "Anton";
    font-size: 14px;
    text-align: left;
    letter-spacing: 1.4px;
    color: #000000;
   
}

.left_container{
    width: 88%;
    float: left;
}
.clear{
    clear: both;
}
.last{
    text-align: left;
    font-family: "Lato";
    font-size: 12px;
    letter-spacing: 0;
    color: #747474;
}
.kb{ 
    padding-right: 01%;
    text-align: right;
    font-family: "Lato";
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #747474;
}

.kb_1{
    font-weight: 600;
}

.pdf{
    width: 75%;
    float: left;

}

.image{
    width: 25%;
    float: right;
}
.image img{
    width: 34px;
    height: 34px;
    vertical-align: middle;
}
.policies{
    padding: 2%;
}
.paragraph{
    text-align: left;
    font-family: "Lato";
    font-size: 14px;
    color: #505050;
    padding: 0.5%;
}
.comment_bar{
    width: 98%;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    border:0.35px  solid #B5B5B5;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #fff;
}
.bar{
    background-color: #EAF2F4;
    padding: 2%;
}
.profile img{
    width: 60px;
    align-content: center;
    margin-left: auto;
    padding-top: 2%;
}
.profile{
     align-self: center;
     
}
.drop_comment input{
   flex: 0;
   width: 100%;
   border: 0px;
   font-size: 12px; 
   padding: 1.6%;
}

.drop_comment{
    flex: 10;
 }
.submit{
    background-color: #32BDD2;
    color: #fff;
    border: #32BDD2;
    font-size: 12px;
    padding: 26px 47px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
   
}
.comment_section{
    width: 95%;
    margin: auto;
   
}
.comments{
  padding: 2.5% 0;
}
.left_part{
    width: 10%;
    float: left;
}
.left_part img{
    width: 100px;
}
.thumb img{
    width: 20px;
}
.right_part{
    width: 85%;
    float: right;
    margin-left: left;
}
.name{
 text-align: left;
   font-size: 14px;
   font-family: "Lato";
    letter-spacing: 0;
    color: #505050;
    padding:.5%;
}
.date{
    text-align: left;
    font-size: 12px;
    font-family: "Lato";
    letter-spacing: 0.6px;
    color: #909090;
    padding:.5%;
}
.text{
    text-align: left;
    font-size: 11px;
    font-family: "Lato";
    letter-spacing: 1.1px;
    color: #747474;
    padding:.5%;
}
.likes{
    text-align: left;
    font-size: 12px;
    font-family: "Lato";
    letter-spacing: 0.5px;
    color: #909090;
    padding:.5%;
    padding-right: 2%;
}
.show_more{
    width: 95%;
    margin: auto;
    background-color: #EEEEEE;
    padding: 2%;
    margin-bottom: 2%;
}
.center{
    width: 12%;
    margin: auto;
}
.show{
    text-align: left;
    font-size: 12px;
    font-family: "Lato";
    letter-spacing: 0.6px;
    color: #505050;
    font-weight: bold;
}
.down img{
  width: 9.91px;
  height: 6.51px;
  vertical-align: middle;
}

.down{
    padding-left: 1%;
  }

  @media only screen and (max-width: 768px) {}
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {}
  @media only screen and (min-width: 1441px) and (max-width: 1920px) {}
  @media only screen and (min-width: 1921px) and (max-width: 2560px) {}