* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.header_container{
    width: 100%;
    box-shadow: 0px 0px 4px #00000029;
    padding: 01%;
}
.left_section{
    width: 78%;
    float: left;
}
.right_section{
    width: 22%;
    float: right;
}
.clear{
    clear: both;
}
.header_containt{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.posh{
    font-family: 'Anton';
    font-size: 24px;
    letter-spacing: 1.1px;
    color: #000000;
}

.notification img{
    width: 40px;
}
.lucy{
    text-align: center;
    font-size: 14px;
    font-family: "Roboto";
    letter-spacing: 0.9px;
    color: #595959;
}
.down_icon img{
    width: 12px;
}
.notification{
   width: 24%;
}

.profile_pic img{
    width: 40px;
}

.down_icon{
    width: 9.32px;
    height: 5.83px;
}


.parent {
    background-color: #F6F8F9;
    padding: 02%;
}

.containt {
    background-color: #fff;
    padding: 2%;
}

.faq {
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    color: #424242;
    padding: 2%;
}

.search_bar img {
    width: 15px;
}

.search_bar input {
    border: 0px;
    margin: 1.5%;
    width: 90%;
}

.search {
    padding: 3%;
}

.search_bar {
    border: 1px solid #B5B5B5;
    border-radius: 20px;
    width: 70%;
    margin: auto;
}

.found {
    text-align: left;
    font-size: 12px;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    color: #909090;
    padding-left: 15%;
    padding-top: 1%;
}

.quesition {
    padding: 0 4%;
}

.meant {
    text-align: left;
    font-family: "Lato";
    font-size: 14px;
    letter-spacing: 0;
    color: #505050;
    padding: 1%;
}

.lorem {
    padding: 1%;
    text-align: left;
    font-family: "Lato";
    font-size: 14px;
    letter-spacing: 0.6px;
    color: #909090;
}

.read {
    text-align: right;
    padding: 2%;
    font-family: "Lato";
    font-size: 12px;
    letter-spacing: 0.35px;
    color: #505050;
    font-weight: bold;
}

.coloumn_two {
    background-color: #EEEEEE;
    padding: 2% 4%;
}
textarea{
    width: 100%;
}
.btn {
    color: #fff;
    padding: 6px 15px;
    cursor: pointer;
    background-color: #32BDD2;
    border: 1px solid #32BDD2;
    border-radius: 8px;
    margin-top: 2%;
    font-weight: 600;
    font-size: 12px;
}

.review {
    text-align: left;
    font-size: 14px;
    font-family: 'Lato';
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #505050;
    padding-bottom: 3.5%;
}

.question_senction {
    padding: 0 5%;
}

@media only screen and (max-width: 768px) {

    .left_section{
        width: 80%;
        float: left;
    }
    .right_section{
        width: 20%;
        float: right;
    }
    .posh{
        font-size: 17.9px;
    }
    .profile_pic img{
        width: 24px;
    }

    .notification img{
        width: 24px;
    }
    .lucy{
        font-size: 10px;
    }
    .down_icon img{
        width: 10px;
    }
    
    .first_colom{
    
        
    }
    .second_colom{

        padding-right: 17%;
    }
    .third_colom{ 

       
    }


    .down_icon{
        width: 6.5px;
        height: 6.5px;
    }
    
   
.faq {
    font-size: 12px;
}

.search_bar img {
    width: 15px;
}


.found {
    font-size: 12px;
}



.meant {

    font-size: 14px;
}

.lorem {

    font-size: 14px;
}

.read {

    font-size: 12px;

}



.btn {

    font-size: 12px;
}

.review {
    font-size: 14px;

}

}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .left_section{
        width: 80%;
        float: left;
    }
    .right_section{
        width: 20%;
        float: right;
    }
    .posh{
        font-size: 37.7px;
    }
    
    .profile_pic img{
        width: 45px;
    }

    .notification img{
        width: 45px;
    }
    .lucy{

        font-size: 15px;
    }
    .down_icon img{
        width: 17px;
    } .down_icon{
        width: 17px;
        height: 17px;
    }
    .secod_colom{
         padding-right: 17%;
     }
     
     .down_icon{
        width: 12.5px;
        height: 12.5px;
    }

       
.faq {
    font-size: 17px;
}

.search_bar img {
    width: 17px;
}


.found {
    font-size: 17px;
}



.meant {

    font-size: 19px;
}

.lorem {

    font-size: 19px;
}

.read {

    font-size: 17px;

}



.btn {

    font-size: 17px;
}

.review {
    font-size: 19px;

}

}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {

    .left_section{
        width: 85%;
        float: left;
    }
    .right_section{
        width: 15%;
        float: right;
    }
    .posh{
        font-size: 45px;
    }
    
    .notification{
       width: 24%;
    }
    
    .profile_pic img{
        width: px;
    }
    
    .notification img {
        width: 40px;
        }
     
        .down_icon{
            width: 17px;
            height: 17px;
        }

           
.faq {
    font-size: 23px;
}

.search_bar img {
    width: 20px;
}


.found {
    font-size: 23px;
}



.meant {

    font-size: 25px;
}

.lorem {

    font-size: 25px;
}

.read {

    font-size: 23px;

}



.btn {

    font-size: 23px;
}

.review {
    font-size: 25px;

}

}

@media only screen and (min-width: 1921px) and (max-width: 2560px) {
    .posh{
        font-size: 60px;
    }
    
    .profile_pic img{
        width: 80px;
    }
    
    .notification img{
        width: 80px;
    }
    .lucy{
        font-size: 28px;
    }
    .down_icon{
        width: 22px;
        height: 22px;
    }

       
.faq {
    font-size: 30px;
}

.search_bar img {
    width: 23px;
}


.found {
    font-size: 30px;
}



.meant {

    font-size: 35px;
}

.lorem {

    font-size: 35px;
}

.read {

    font-size: 30px;

}



.btn {

    font-size: 30px;
}

.review {
    font-size: 35px;

}


}

