*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.header_container{
    width: 100%;
    box-shadow: 0px 0px 4px #212121;
    padding: 01%;
}
.left_section{
    width: 85%;
    float: left;
}
.right_section{
    width: 15%;
    float: right;
}
.clear{
    clear: both;
}
.posh{
    font-family: 'Anton';
    font-size: 30px;
    letter-spacing: 1.1px;
    color: #000000;
}

.profile_pic img{
    width: 40px;
}
.containt{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.notification img {
width: 40px;

}
.dropdown{
    padding-right: 5%;
}
.lucy{
    text-align: center;
    font-size: 14px;
    font-family: "Roboto";
    letter-spacing: 0.9px;
    color: #595959;
}

.down_icon{
    width: 12px;
    height: 12px;
}
.complaints{
    text-align: left;
   font-family: 'Anton';
   font-size: 16px;
    letter-spacing: 1.4px;
    color: #000000;
}
.first_row{
    padding: 1.5%;
    border-bottom: 1px solid #000000;
}

.items{
    width: 100%;
}
.first_colom{
    width: 34%;
    float: left;
}
.second_colom{
    width: 33%;
    float: left;
}
.third_colom{ 
    width: 33%;
    float: left;
}
.tmp{
    text-align: left;
    padding-bottom: 3%;
    letter-spacing: 1.4px;
    color: #595959;
}
.respondent{
    text-align: left;
    font-family: 'Lato';
    font-size: 15px;
    letter-spacing: 0.6px;
    color: #909090;
}
.nishant{
    text-align: left;
    font-family: 'Lato';
    font-size: 18px;
    letter-spacing: 1.4px;
    color: #505050;
}
.address{
    text-align: left;
    font-family: 'Lato';
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #4C5264;
    width: 60%;
    padding-bottom: 2%;
}
.seen{
    text-align: left;
    font-family: 'Lato';
    font-size: 15px;
    letter-spacing: 0.6px;
    color: #909090;
}
.date{
    text-align: left;
    font-family: 'Lato';
    font-size: 18px;
    letter-spacing: 1.4px;
    color: #505050;
    font-weight: bold;
    padding-bottom: 2%;
}
.delete_section{}
.left{
    width: 15%;
    float: left;
    clear: left;
}

.right{
    width: 85%;
    clear: right;
    float: right;
}
.delete_section img{
    width: 55px;
}
.delete{
    text-align: left;
    font-family: 'Lato';
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #747474;
}
.draft_btn{
    text-align: center;
    font-family: 'Lato';
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    background: #D0C824 ;
    border-radius: 26px;
    padding: 2% 5%;
    border: 1px solid #D0C824 ;
    
}
@media only screen and (max-width: 768px) {
    .posh{
        font-size: 15px;
    }
    .profile_pic img{
        width: 25px;
    }

    .notification img{
        width: 25px;
    }
    .lucy{
        font-size: 10px;
    }
    .down_icon img{
        width: 10px;
    }
    
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .posh{
        font-size: 24px;
    }
    
    .profile_pic img{
        width: 40px;
    }
    
    .notification img{
        width: 40px;
    }
    .lucy{
        font-size: 12px;
    }
    .down_icon img{
        width: 12px;
    }

    .down_icon{
        flex: 2;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .posh{
        font-size: 27px;
    }
    
    .profile_pic img{
        width: 42px;
    }

    .notification img{
        width: 42px;
    }
    .lucy{

        font-size: 15px;
    }
    .down_icon img{
        width: 15px;
    }
}

@media only screen and (min-width: 1921px) and (max-width: 2560px) {
    .posh{
        font-size: 50px;
    }
    
    .profile_pic img{
        width: 63px;
    }
    
    .notification img{
        width: 63px;
    }
    .lucy{
  
        font-size: 25px;
    }
    .down_icon img{
        width: 21px;
    }
}

