/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */


/* Optional: Makes the sample page fill the window. */

.mapContainer {
    height: 50vh;
    width: 50%;
    background: #ffffff;
    box-shadow: 0vw 0.293vw 0.977vw;
    padding: 01%;
}

#map {
    width: 100%;
    height: 50vh;
    background-color: grey;
}

.grids {
    width: 30%;
    background: #000000;
    opacity: 0.5;
}

table {
    width: 100%;
    border-collapse: collapse;
    opacity: 0.5;
}

td,
th {
    border: 1px solid #FFFFFF;
    height: 3.465vw;
    width: 1.465vw;
}

.unfilled {
    background-color: #ffffff;
}

#line {
    border: 4px dashed #ffffff;
    border-top: 0;
    border-right: 0;
    padding: 02%;
    bottom: 0;
}

.km {
    color: #ffffff;
    font-size: 1.14vw;
    text-align: center;
}