    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    /* Optional: Makes the sample page fill the window. */
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    #map {
        height: 95vh;
        width: 100vw;
    }
    
    .rorate {
        background-color: #008CBA;
        /* Green */
        border: none;
        color: white;
        padding: 0.293vw 0.488vw;
        text-align: center;
        text-decoration: none;
        font-size: 1.12vw;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 10px;
    }