    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    /* Optional: Makes the sample page fill the window. */
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    #map {
        height: 100vh;
        width: 100vw;
    }
    
    .gridparent {
        padding: 01%;
    }
    
    .gridparent p {
        color: #000;
        font-size: 1.17vw;
        border-top: 1px dashed #000;
        text-align: center;
    }
    
    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }
    
    #grid {
        width: 100vw;
        border: 1px solid #cccccc;
        padding: 10%;
    }
    
    .grid {
        width: 100vw;
        display: flex;
        padding-bottom: 1%;
    }
    
    .tielOne {
        width: 2.5vw;
        height: 2vh;
        padding: 01%;
        border: 1px solid #cccccc;
    }
    
    .dot {
        width: 2.931vw;
        height: 2.931vw;
        background-color: red;
        border: 0.098vw solid red;
        border-radius: 50%;
    }
    
    .popup-bubble {
        /* Position the bubble centred-above its parent. */
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -100%);
        /* Style the bubble. */
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        font-family: sans-serif;
        overflow-y: auto;
        max-height: 60px;
        box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
    }
    /* The parent of the bubble. A zero-height div at the top of the tip. */
    
    .popup-bubble-anchor {
        /* Position the div a fixed distance above the tip. */
        position: absolute;
        width: 100%;
        bottom: 8px;
        left: 0;
    }
    /* This element draws the tip. */
    
    .popup-bubble-anchor::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        /* Center the tip horizontally. */
        transform: translate(-50%, 0);
        /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
        width: 0;
        height: 0;
        /* The tip is 8px high, and 12px wide. */
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid white;
    }
    /* JavaScript will position this div at the bottom of the popup tip. */
    
    .popup-container {
        cursor: auto;
        height: 0;
        position: absolute;
        /* The max width of the info window. */
        width: 200px;
    }