*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
}
.container{
    background-color: #32BDD2;
    padding: 4% 3% 13% 4.5%;
}

.our{
    color: #fff;
    font-size: 25px;
    border-top: 3px solid #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.approch{
    color: #fff;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.number{
 margin-top: 2% 
}
.number-03{
    font-size: 90px;
    font-family: 'Anton', sans-serif;
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 0.6;
   font-weight: 400;   
}

.number-04{
    text-align: left;
    font-size: 35px;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 0.6;
    font-family: 'Raleway', sans-serif;
}
.built_in{
    margin-top:3%
}
.built{
    text-align: left;
    font-size: 80px;
    letter-spacing: 3.1px;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.head-start{
    margin-top: 4%
}
.head{
    color: #212121;
    text-align: left;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3.1px;
    opacity: 1;
    font-family: 'Raleway';
    font-weight: 600;
}
.we{
    color: #212121;
    font-size: 26px;
    text-align: left;
    opacity: 1;
    font-family: 'Raleway'; 
    padding-top: 1%;
}
.heavily{
    color: #212121;
    font-size: 26px;
    text-align: left;
    opacity: 1;
    font-family: 'Raleway'; 
  
}
.svg{
   
    padding-top: 5%;
    margin: auto;
    background-color: #32BDD2;
}
.box-1{
    text-align: center;
    font-size: 18px;
    font-family: 'Raleway'; 
    letter-spacing: 0;
    color: #1C1C1C;
    opacity: 1;
   
}



@media screen and (max-width: 1024px) {
    .our{
       
        font-size: 20px;
        border-top: 3px solid #fff;
       
    }
    .approch{
       
        font-size: 20px;
        
    }
    .number-03{
        font-size: 75px;  
    }
    
    .number-04{
     
        font-size: 28px;
        
    }
    
    .built{
       
        font-size: 60px;
        letter-spacing: 2.5px;
       
    }
   
    .head{
        font-size: 27px;
        letter-spacing: 2.5px;
    }
    .we{
        
        font-size: 18px;
        text-align: left;
       
    }
    .heavily{
       font-size: 18px;
            
    }

    
}


  @media screen and (min-width: 2560px) {
   
  }