*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
}
.main-container{
    width: 100%;
    height: 100vh;
    background-color: #32BDD2;
}
.left-part{
    width: 50%;
    float: left;
    clear: left;
    margin: 0 5%;
}
.right-part{
    width: 40%;
    float: right;
    clear: right;
    
    
}
.container{
    background-color: #32BDD2;
    padding: 0 5%
}
.our-approch{
    padding-top: 6.3%;
}
.our{
    color: #fff;
    font-size: 25px;
    border-top: 3px solid #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
   
}
.approch{
    color: #fff;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  
}
.number{
    padding-top: 4%;
}
.number-03{
    font-size: 90px;
    font-family: 'Anton', sans-serif;
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 0.6;
   font-weight: 400;   
}

.number-04{
    text-align: left;
    font-size: 35px;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 0.6;
    font-family: 'Raleway', sans-serif;
}
.built_in{
    padding-top: 8%
}
.built{
    text-align: left;
    font-size: 80px;
    letter-spacing: 3.1px;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.head-start{
    padding-top: 10%;
}
.head{
    color: #212121;
    text-align: left;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3.1px;
    opacity: 1;
    font-family: 'Raleway';
    font-weight: 600;
}
.we{
    color: #212121;
    font-size: 26px;
    text-align: left;
    opacity: 1;
    font-family: 'Raleway'; 
    padding-top: 1%;
}
.heavily{
    color: #212121;
    font-size: 26px;
    text-align: left;
    opacity: 1;
    font-family: 'Raleway'; 
  
}
.svg{
   width: 70%;
  
    padding-top: 15%;
    background-color: #32BDD2;
}
.box-1{
    text-align: center;
    font-size: 18px;
    font-family: 'Raleway'; 
    letter-spacing: 0;
    color: #1C1C1C;
    opacity: 1;
   
}



@media screen and (max-width: 1024px) {
    .our{
       
        font-size: 20px;
        border-top: 3px solid #fff;
       
    }
    .approch{
       
        font-size: 20px;
        
    }
    .number-03{
        font-size: 75px;  
    }
    
    .number-04{
     
        font-size: 28px;
        
    }
    
    .built{
        font-size: 60px;
        letter-spacing: 2.5px;
       
    }
   
    .head{
        font-size: 25px;
        letter-spacing: 3px;
    }
    .we{
        
        font-size: 20px;      
    }
    .heavily{
       font-size: 20px;
            
    }

    
}


  @media screen and (min-width: 2560px) {
   
    .our{
       
        font-size: 33px;
        border-top: 6px solid #fff;
        
       
    }
    .approch{
     
        font-size: 33px;
      
      
    }
  
    .number-03{
        font-size: 100px;
        opacity: 0.8;
       font-weight: 400;   
    }
    
    .number-04{
        font-size: 45px;
        opacity: 0.8;
        }
    .built{
        text-align: left;
        font-size: 90px;
        letter-spacing: 3.5px;
        
    }
    .head-start{
        padding-top: 10%;
    }
    .head{
        color: #212121;
        text-align: left;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 3.1px;
        opacity: 1;
        font-family: 'Raleway';
        font-weight: 600;
    }
    .we{
        color: #212121;
        font-size: 26px;
        text-align: left;
        opacity: 1;
        font-family: 'Raleway'; 
        padding-top: 1%;
    }
    .heavily{
        color: #212121;
        font-size: 26px;
        text-align: left;
        opacity: 1;
        font-family: 'Raleway'; 
      
    }
  }