*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Raleway';   
}
/** Peace 04 css */
.image-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.relaible{
    margin-top: 7.1%
}
.peace-4{
    width: 100%;
    display:flex;
    margin-top: 33%
}
.number-04{
text-align: right;
font: Regular 15px/21px Raleway;
letter-spacing: 0;
color: #939393;
opacity: 1;

}
.more{
text-align: right;
font: Medium 15px/21px Raleway;
letter-spacing: 0;
color: #505050;
opacity: 1;


}
.Credibility{
text-align: right;
font: Medium 13px/16px Raleway;
letter-spacing: 0;
color: #747474;
opacity: 1;


}
.cw-22a{
    flex: 3;
}
.explore-04{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}
.explore-peace-04{
    text-align: right;
    font-family: Raleway;
    font-size: 14px;
    letter-spacing: 0;
    color: #257B84;
    opacity: 1;
    flex: 6;
   
    }
.icon-peace-04{
 flex: 0.8 ;
}


/** Peace-1 css*/
.number{
    text-align: left;
    font: Regular 15px/21px Raleway;
    letter-spacing: 0;
    color: #939393;
    opacity: 1;
    padding-bottom: 1.5%;
    }
    .DISRUPTIVE{
    text-align: left;
    font: Medium 15px/21px Raleway;
    letter-spacing: 0;
    color: #505050;
    opacity: 1;
    padding-bottom: .5%;
    
    }
    .Manifesting{
    text-align: left;
    font: Medium 13px/16px Raleway;
    letter-spacing: 0;
    color: #747474;
    opacity: 1;
    padding-bottom: .5%;
    
    }
    .explore-icon-peace-1{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
            
    }
    .explore-01{
        text-align: left;
        font-family: Raleway;
        font-size: 16px;
        letter-spacing: 0;
        color: #257B84;
        opacity: 1;
        }
    
    .icon-peace-1{
       flex: 2;
        text-align: left;
     }
     /* peace-02  CSS */
     .software{
         display: flex;
         width: 100%;
     }
    .number-02{
        text-align: left;
        font-family: Raleway;
  font-size: 14px;
        letter-spacing: 0;
        color: #939393;
        opacity: 1;
        padding-bottom: 5%;
        }
        .STRATEGIC{
        text-align: left;
        font-family: Raleway;
        font-size: 14px;
        letter-spacing: 0;
        color: #505050;
        opacity: 1;
        padding-bottom: 1%;
        
        }
        .Software-02{
        text-align: left;
        font-family: Raleway;
  font-size: 17px;
        letter-spacing: 0;
        color: #747474;
        opacity: 1;
        
        
        }
        .explore-peace-02{
            text-align: left;
            font-family: Raleway;
            font-size: 18px;
            letter-spacing: 0;
            color: #257B84;
            opacity: 1;
        }
        .icon-peace-2{
            flex: 2;
         }
         .explore-02{
            width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        /* peace-3 css */
        .number-03{
            text-align: right;
            font-family: Raleway;
  font-size: 14px;
            letter-spacing: 0;
            color: #939393;
            opacity: 1;
            padding-bottom: 2.5%;
            }
            .BUILT{
            text-align: right;
            font-family: Raleway;
  font-size: 14px;
            letter-spacing: 0;
            color: #505050;
            opacity: 1;
            padding-bottom: .5%;
            
            }
            .Economies{
            text-align: right;
            font-family: Raleway;
            font-size: 18px;
            letter-spacing: 0;
            color: #747474;
            opacity: 1;
            padding-bottom: .5%;
            
            }
            .explore-03{
            text-align: right;
            font-size: 14px;
            color: #257B84;
            opacity: 1;
            flex: 3;
            }
            .cw-built{
                text-align: right;

            }

            .explore-icon-peace-3{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                float: right;
            }

            .icon-peace-3{
            flex: .05; 
               
            }