*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
width: 100%
}
.right_side{
    width: 50%;
    float: right;
    clear: right;
}
.left_side{
    width: 50%;
    float: left;
    clear: left;

}
.lorem{
    font-size: 1.5vw;
}
.left_top{
    text-align: right;
    background-color: #e82507;
    height: 100px;

}
.left_bottom{
    text-align: left;
    background-color: #4ff507;
    height: 100px;

    
}
.right_top{
    text-align: right;
    background-color: #a607f5;
    height: 100px;

}
.right_bottom{
    text-align: left;
    background-color: #edf507;
    height: 100px;

}
.left_top_1{
text-align: right;
color: tomato;
    height: 100px;

}
.left_bottom_1{
    text-align: left;
    color: violet;
    height: 100px;

}
.right_top_1{
 text-align: right;
 color: yellowgreen;
    height: 100px;

}
.right_bottom_1{
text-align: left;
color: #660033;
    height: 100px;
  
}
.position{
    position: relative;
    height: 100vh;
}
.text_position{
    position: absolute;
    bottom: 0;
}
.text_position_4{
    position: absolute;
    bottom: 0;
    right: 11%;
}
.image_part img{
    width: 400px;
}
.number-01{
    text-align: left;
    font-size: 15px;
    font-family: 'Raleway';
    letter-spacing: 0;
    color: #939393;
    opacity: 1;
    padding-bottom: 2%;
}
.DISRUPTIVE{
    text-align: left;
    font-size: 15px;
    font-family: 'Raleway';
    letter-spacing: 0.38px;
    color: #505050;
    opacity: 1;
    line-height: 20px;
    padding-bottom: .5%;
}
.Manifesting{
    text-align: left;
    font-size: 13px;
    letter-spacing: 0;
    font-family: "Raleway";
    color: #747474;
    opacity: 1;
    padding-bottom: .5%;
}
.explore{
    text-align: left;
    font-size: 18px;
    font-family: "Raleway";
    letter-spacing: 0;
    color: #257B84;
    opacity: 1;
    vertical-align: middle;
    padding-bottom: .5%;
    font-weight: 600;
}
.ero-icon{
    vertical-align: middle;
}
.left-bottom-container{
    width: 100%;
}
.image{
    float: left;
    width: 20%;
    clear: left;
}
.containt{
    float: right;
    width: 80%;
    clear: right;
}

.number-02{
    text-align: left;
    font-size: 15px;
    font-family: 'Raleway';
    letter-spacing: 0;
    color: #939393;
    opacity: 1;
    padding-bottom: 2%;
}
.STRATEGIC{
    text-align: left;
    font-size: 15px;
    font-family: 'Raleway';
    letter-spacing: 0.38px;
    color: #505050;
    opacity: 1;
    line-height: 20px;
    padding-bottom: .5%;
}
.Software{
    text-align: left;
    font-size: 13px;
    letter-spacing: 0;
    font-family: "Raleway";
    color: #747474;
    opacity: 1;
    padding-bottom: .5%;
}
.explore{
    text-align: left;
    font-size: 14px;
    font-family: "Raleway";
    letter-spacing: 0;
    color: #257B84;
    opacity: 1;
    vertical-align: middle;
    padding-bottom: .5%;
    padding-right: 1%;
}
.ero-icon{
    vertical-align: middle;
}
.peace-3{
    text-align: right;
    width: 400px;
}
.number-03{
    text-align: right;
    font-size: 15px;
    font-family: 'Raleway';
    letter-spacing: 0;
    color: #939393;
    opacity: 1;
    padding-bottom: 2%;
}
.BUILT{
    text-align: right;
    font-size: 15px;
    font-family: 'Raleway';
    letter-spacing: 0.38px;
    color: #505050;
    opacity: 1;
    line-height: 20px;
    padding-bottom: .5%;
}
.Economies{
    text-align: right;
    font-size: 13px;
    letter-spacing: 0;
    font-family: "Raleway";
    color: #747474;
    opacity: 1;
    padding-bottom: .5%;
}
.explore-built{
    font-size: 18px;
    font-family: "Raleway";
    letter-spacing: 0;
    color: #257B84;
    opacity: 1;
    vertical-align: middle;
    padding-bottom: .5%;
    font-weight: 600;
   }
.ero-icon-built{
    vertical-align: middle;
    
}
.position_top_right{
    float: right;
}

.number-04{
    text-align: right;
    font-size: 15px;
    font-family: 'Raleway';
    letter-spacing: 0;
    color: #939393;
    opacity: 1;
    padding-bottom: 2%;
}
.more{
    text-align: right;
    font-size: 15px;
    font-family: 'Raleway';
    letter-spacing: 0.38px;
    color: #505050;
    opacity: 1;
    line-height: 20px;
    padding-bottom: .5%;
}
.Credibility{
    text-align: right;
    font-size: 13px;
    letter-spacing: 0;
    font-family: "Raleway";
    color: #747474;
    opacity: 1;
    padding-bottom: .5%;
}
.explore-built_4{
        text-align: right;
        font-size: 20px;
        font-family: "Raleway";
        letter-spacing: 0;
        color: #257B84;
        opacity: 1;
        padding-right: 1%;
   }
.ero-icon-built_4{
    vertical-align: middle;
    text-align: right;
}
.time{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right_part_4{
    width: 50%;
    float: right;
    clear: right;
}
.left_part_4{
    width: 50%;
    float: left;
    clear: left;
    position: absolute;
    bottom: 0;
}