*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
width: 100%
}
.right_side{
    width: 50%;
    float: right;
    clear: right;
}
.left_side{
    width: 50%;
    float: left;
    clear: left;

}
.right_top{
    text-align: right;
    background-color: #a607f5;
}
IMG.image_left_top{
    display: block;
    margin-left: auto;
}
IMG.image_right_top{
    display: block;
    margin-left: auto;
}
IMG.image_left_bottom{
    display: block;
    margin-right: auto;
}
IMG.image_right_bottom{
    display: block;
    margin-right: auto;
}
.right_bottom{
    text-align: left;
    background-color: #edf507;
}
.left_top{

    background-color: #e82507;
}
.left_bottom{
    text-align: left;
    background-color: #4ff507;
    
}