* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: 100vh;
}

.left-part {
    width: 40%;
    float: left;
    clear: left;
    margin: 0% 5%
}

.right-part {
    width: 50%;
    float: right;
    clear: right;
}

.container {
    background-color: #fff;
}

.our-approch {
    margin-top: 10%
}

.our {
    color: #32BDD2;
    font-size: 25px;
    border-top: 5px solid #32BDD2;
    font-family: 'Raleway';
    font-weight: 600;
}

.approch {
    font-weight: 600;
    color: #32BDD2;
    font-size: 25px;
    font-family: 'Raleway';
}

.number-03 {
    font-size: 90px;
    font-family: 'Anton';
    text-align: left;
    letter-spacing: 0;
    color: #32BDD2;
    opacity: 0.6;
}

.number {
    margin-top: 4%;
}

.number-04 {
    text-align: left;
    font-size: 38px;
    letter-spacing: 0;
    color: #32BDD2;
    opacity: 0.6;
    font-family: 'Raleway';
}

.reliable {
    margin-top: 6%;
}

.more {
    text-align: left;
    font-size: 85px;
    letter-spacing: 3.1px;
    color: #32BDD2;
    opacity: 1;
    font-family: 'Raleway';
    font-weight: 600;
}

.quality-entirety {
    margin-top: 10%;
}

.quality {
    color: #212121;
    text-align: left;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 3.1px;
    opacity: 1;
    font-family: 'Raleway';
    font-weight: 600;
}

.entirety {
    color: #212121;
    font-size: 30px;
    text-align: left;
    opacity: 1;
    font-family: 'Raleway';
    padding-top: 2%;
}

.culture {
    color: #212121;
    font-size: 30px;
    text-align: left;
    opacity: 1;
    font-family: 'Raleway';
}

.box-1 {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
    font-family: 'Raleway';
    color: #1C1C1C;
    opacity: 0.8;
}

.svg-view {
    width: 79%;
    margin: 18% 0 0 7%;
}

@media screen and (max-width: 768px) {
    .our {
        font-size: 15px;
        border-top: 2px solid #32BDD2;
    }
    .approch {
        font-size: 15px;
        font-family: 'Raleway';
    }
    .number-03 {
        font-size: 55px;
    }
    .number-04 {
        font-size: 18px;
    }
    .more {
        font-size: 50px;
    }
    .quality {
        font-size: 20px;
        letter-spacing: 1.8px;
    }
    .entirety {
        font-size: 14px;
    }
    .culture {
        font-size: 14px;
    }
}

@media screen and (max-device-width:1024px) {
    .our {
        font-size: 13px;
        border-top: 2px solid #32BDD2;
    }
    .approch {
        font-size: 13px;
        font-family: 'Raleway';
    }
    .number-03 {
        font-size: 50px;
    }
    .number-04 {
        font-size: 22.5px;
    }
    .more {
        font-size: 41.5px;
    }
    .quality {
        font-size: 16px;
        letter-spacing: 1.5px;
    }
    .entirety {
        font-size: 14px;
    }
    .culture {
        font-size: 14px;
    }
}

@media screen and (max-device-width:1440px) and (min-device-width:1025px) {
    .our {
        font-size: 18px;
        border-top: 4px solid #32BDD2;
    }
    .approch {
        font-size: 18px;
        font-family: 'Raleway';
    }
    .number-03 {
        font-size: 70px;
    }
    .number-04 {
        font-size: 31.5px;
    }
    .more {
        font-size: 60px;
    }
    .quality {
        font-size: 25px;
    }
    .entirety {
        font-size: 22px;
    }
    .culture {
        font-size: 22px;
    }
}

@media screen and (min-width: 1921px) {
    .our {
        font-size: 32px;
        border-top: 10px solid #32BDD2;
    }
    .approch {
        font-size: 32px;
        font-family: 'Raleway';
    }
    .number-03 {
        font-size: 124px;
    }
    .number-04 {
        font-size: 55.5px;
    }
    .more {
        font-size: 104px;
    }
    .quality {
        font-size: 44.4px;
    }
    .entirety {
        font-size: 44.4px;
    }
    .culture {
        font-size: 39px;
    }
}