    *{
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }
    body{
        background-color: #F8FAFA;
    }
    .main-container{
        width: 100%;
        height: 100vh;
    }
    .left-part{
        width: 60%;
        float: left;
        clear: left;
        padding-left: 5%;
    }
    .right-part{
        width: 40%;
        float: right;
        clear: right;
    }
    .container{
        margin-top: 10%;
    }
    .helped{
        color: #4B6A77;
        font-size: 23px;
        font-family: 'Raleway';
        line-height: 1.5;
        width: 70%;
    }
    .number{
        margin-top: 10%;
    }
    .PRO{
        font-size: 70px;
        font-family: 'Raleway'; 
        text-align: left;
        letter-spacing: 0;
        color: #4B6A77;
        opacity: 1;
        font-weight: 600;
        border-top: 10px solid #4B6A77;
    }
    .delevered{
        text-align: left;
        font-size: 70px;
        letter-spacing: 0;
        color: #4B6A77;
        opacity: 01;
        font-family: 'Raleway';
        font-weight: 600;
    }
    .icon{
        margin-top: 5%;
        float: left;
    }
    .impact-obsessed{
        margin-top: 10%;
    }

    .impact{
        color: #4B6A77;
        text-align: left;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 1.5px;
        opacity: 1;
        font-family: 'Raleway';
        font-weight: 600;
    }
    .obsessed{
        color: #4B6A77;
        font-size: 26px;
        text-align: left;
        opacity: 1;
        font-family: 'Raleway'; 
        margin-top: 2%;
    }
    .lasting{
        color: #4B6A77;
        font-size: 26px;
        text-align: left;
        opacity: 1;
        font-family: 'Raleway'; 
    }
    .svg-viewport{
      margin-left: 10%;
        margin-top: 12%;
        width: 52%;
    }
    .icon img{
        width: 77px;
    }
   
    @media screen and (max-width: 768px) {
        .helped{
            font-size: 9px;
        }
        .PRO{
            font-size: 27px;
            border-top: 5px solid #4B6A77;
        }
        .delevered{
            font-size: 27px;
        }
        .impact{
            font-size: 12px;
        }
        .obsessed{
            font-size: 13px;
        }
        .lasting{
            font-size: 13px;
        }
        .icon img{
            width: 50px;
        }
    }
    @media screen and (max-device-width:1024px){
        .helped{
            font-size: 13px;
            width: 90%;
        }
        .PRO{
            font-size: 36px;
            border-top: 7px solid #4B6A77;
        }
        .delevered{
            font-size: 36px;
        }
        .impact{
            font-size: 16px;
        }
        .obsessed{
            font-size: 13px;
        }
        .lasting{
            font-size: 13px;
        }
        .icon img{
            width: 62px;
        }
        .svg-viewport{
            margin: auto;
            margin-top: 10%;
            
        }
    } 
    @media screen and (max-device-width:1440px) and (min-device-width:1025px){
        .helped{
            font-size: 18px;
        }
        .PRO{
            font-size: 51px;
        }
        .delevered{
            font-size: 51px;
        }
        .impact{
            font-size: 23px;
        }
        .obsessed{
            font-size: 22.5px;
        }
        .lasting{
            font-size: 22.5px;
        }
        .icon img{
            width: 75px;
        }
        .svg-viewport{
            margin: auto;
            margin-top: 10%;
        }
    }
    @media screen and (min-width: 1920px) {
        .helped{
            font-size: 32px;
            width: 90%;
        }
        .PRO{
            font-size: 92px;
        }
        .delevered{
            font-size: 92px;
        }
        .impact{
            font-size: 39px;
        }
        .obsessed{
            font-size: 29px;
        }
        .lasting{
            font-size: 29px;
        }
        .icon img{
            width: 99px;
        }
       
    }