*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.develop{
      width: 930px;
      margin-top: 2%;
}
.image{
    text-align: center;
}
.under{
    margin-top: 5%;
}
.page{
    text-align: center;
    color: #4B6A77;
    font-size: 55px;
    font-family: 'Raleway';
    font-weight: 600;
}

.ipsum{
    text-align: center;
    color: #4B6A77;
    font-size: 18px;
    font-family: 'Raleway';
    opacity: 0.8;

}

.eiro{
    width: 93px;
    margin-top: 2%;
}

@media screen and (max-device-width:768px){
    .develop{
      width: 530px;
      margin-top: 6%;
}
.page{
    font-size: 23.5px;
}

.ipsum{
    font-size: 12px;
}

.eiro{
    width: 58px;
}
}
 @media screen and (max-device-width:1024px){
    .develop{
        width: 520px;
        margin-top: 2%;
  }
  .page{
      font-size: 30px;
  }
  
  .ipsum{
      width: 50%;
 margin-left: 25%;
  }
  
  .eiro{
      width: 52px;

  }
}
@media screen and (max-device-width:1440px) and (min-device-width:1025px){
    .develop{
        width: 850px;
        margin-top: 3%;
  }
  .page{
      font-size: 44px;
  }
  
  .ipsum{
      font-size: 17px;
  }
  
  .eiro{
      width: 85px;
  }
}
@media screen and (min-width: 1921px) {
    .develop{
        width: 1200px;
        margin-top: 3%;
  }
  .page{
      font-size: 79px;
  }
  
  .ipsum{
      font-size: 22px;
  }
  
  .eiro{
      width: 105px;
  }
}